.btn {
  outline: none;
  border: none;
  text-decoration: none;
  color: $grey;
  background: $yellow;
  padding: 0.4em 1em;
  display: inline-block;
  border-radius: 1.7em;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1em;
  display: inline-block;

  &:hover {
    transform: translateY(-5%);
  }
  white-space: nowrap;

  &.angles {
    border-radius: 0;
  }

  &.outline {
    border: 2px solid $yellow;
    background: transparent;
    color: $yellow;
  }
}

.card {
  padding: 1.2em;
  text-align: center;
  max-width: 20em;

  p {
    margin: 1em 0;
  }
}

@for $i from 1 through 15 {
  .card:nth-child(#{$i}),
  section:nth-child(#{$i}) {
    background: adjust-hue($green, $i * 60deg);
  }
}

input {
  padding: 0.4em 1em;
  font-size: 1em;
  outline: none;
  border: 0.1em solid $grey;
  border-radius: 1.7em;
  width: 20em;
  display: inline-block;
}
