@import "colors";
@import "config";
@import "components";

nav ul {
  display: flex;
  gap: 1em;
  list-style-type: none;

  a:hover {
    color: $grey;
  }
}

a {
  text-decoration: none;
  color: $dark;
  white-space: nowrap;
  transition: 0.4s;

  &:not(.btn):hover {
    transform: scale(1.05);
    color: $yellow;
  }
}

header,
header .container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 7em;
}
.text-center {
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin-bottom: 0.4em;
  }
}
section {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ctas {
  display: flex;
  align-items: center;
  gap: 1em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;

  &.left {
    justify-content: flex-start;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  justify-items: center;
  gap: 1em;
}
img {
  width: 100%;
  object-fit: contain;
}

.image svg {
  width: 4em;
  margin-bottom: 1em;
}

b {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
